html {
    scroll-behavior: smooth;
    min-height: 100%;
    overflow-x: hidden;
    /* font-size: 22px; Requires further testing fore larger screen sizes*/ 
    font-size: 18px;
  }

body {
      display: flex;
      flex-direction: column;
  }

  .content{
      flex: 1 0 auto;
  }

/*Primary Colors*/
/* CSS HEX */
:root{
    --rich-black-fogra-29: #0d1821ff;
    --independence: #344966ff;
    --light-steel-blue: #b4cdedff;
    --baby-powder: #f0f4efff;
    --sage: #bfcc94ff;
    --black: #000000;
    --rythm: #767B91;
    --cyanblue: #759EB8;
}

/*Layout Properties*/
.full-height{
    min-height: 100vh;
}

.vertical-center{
    margin-top: auto;
    margin-bottom: auto;
}

.introduction-text{
    text-align: center;
    color:white;
}

.intro-slide{
    background-image: url(Images/CodeBackgroundBlurredGreyscaled.jpg);
    background-size: cover;
    background-position: center;
}

.background-profile{
    background-color: var(--baby-powder);
}

h1, h2{
    color: var(--cyanblue);
}

.profile-picture{
    display: block;
    border-radius: 50%;
    
}

.profile-slide{
    margin: 3rem 0rem 3rem 0rem;
}

.col-sm-6 > h1, .col-sm-6 > h3, .col-sm-6 > p{
    text-align: center;
}

.col-md-3 > h6{
    margin-top: auto;
    margin-bottom: auto;
}

h1{
    text-align: center;
    margin-top:1rem;
    margin-bottom: 1rem;
}

.background-contact{
    background-color: #434343;
}

h1>a {
    color: white;
}

h1>a:hover{
    color: black;
}

.quotes{
    text-align: center;
}

.show-more-button{
    background-color: var(--cyanblue);
    color: white;
    display: block;
    margin: 0.5rem 0rem 1rem 0rem;
}

.show-more-text{
    padding-bottom: 1rem;
}

.visible-text{
    display: block;
}

.invisible-text{
    display: none;
}

.footer{
    margin-top: 1rem;
    /* display: flex; */
}
.contact-icons{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

@media (min-width: 768px) {
    .contact-icons{
        font-size: 2rem;
    }

    .footer{
        display: flex;
    }
}

.contact-icons:hover{
    color: var(--cyanblue);
}

h3{
    color: var(--independence);
}

.nav-colored{
    background-color:var(--independence);
}

#footer-thanks{
    color: #ababab;
    text-align: center;
    /* margin: 1rem 0rem; */
}

#footer-thanks > a{
    color: #cdcdcd;
    text-decoration: none;
}
#footer-thanks > a:hover{
    color: var(--cyanblue);
    text-decoration: none;
}

.button-cv{
    background-color: var(--cyanblue);
    margin: 0rem 0rem 1rem 0rem;
    text-decoration: none;
    color: white;
    display: block;
}