html {
    scroll-behavior: smooth;
    min-height: 100%;
  }

body {
      display: flex;
      flex-direction: column;
      /* background: rgb(255,255,255);
      background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(176,204,255,1) 25%, rgba(130,176,255,1) 50%, rgba(54,129,255,1) 75%, rgba(0,0,0,1) 90%, rgba(0,0,0,1) 100%); 
      background-repeat: no-repeat;
      background-attachment: scroll; */
  }

  .content{
      flex: 1 0 auto;
  }

/*Primary Colors*/
/* CSS HEX */
:root{
    --rich-black-fogra-29: #0d1821ff;
    --independence: #344966ff;
    --light-steel-blue: #b4cdedff;
    --baby-powder: #f0f4efff;
    --sage: #bfcc94ff;
    --black: #000000; 
}

/*Layout Properties*/
.full-height{
    min-height: 100vh;
}
/*1st slide*/
.vertical-center{
    margin-top: auto;
    margin-bottom: auto;
}

.introduction-text{
    text-align: center;
    color:white;
}

.intro-slide{
    background-image: url(Images/CodeBackgroundBlurred.jpg);
    background-size: cover;
    filter: grayscale(70%);
}

.profile-picture{
    display: block;
    border-radius: 50%;
    
}

.col-sm-6 > h1, .col-sm-6 > h3, .col-sm-6 > p{
    text-align: center;
}

.col-md-3 > h6{
    margin-top: auto;
    margin-bottom: auto;
}

h1,h3,p{
    text-align: center;
}